@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&family=Roboto+Mono&display=swap');

:root {
    --main-color: #CED7F3;
    --main-bg-color: #0d192d;
    --link-colour: #5EE9C5;
}

* {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;

}

body {
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.3s ease-in-out;
}

.container {
    overflow: hidden;

}

nav {
    float: right;
    margin-right: 30px;
}

.logo {
    margin: auto;
}

li {
    font-weight: 600;
}

ul li,
.logo {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

ul li:hover {
    color: var(--link-colour) !important;
    ;
}

hr {
    opacity: 0.25;
    border-top: 1px solid #CED7F3;
}

.hero-container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    /* width: calc(40% - 40px); */
    padding: 80px;
    margin-bottom: 120px;
}

.hero-text {
    flex-basis: 40%;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-text h1 {
    line-height: 1.2;
}

.hero-image {
    flex-basis: 60%;
}

.hero-image img {
    height: 100%;
    float: right;
}

h1 {
    font-size: 3.5rem;
    line-height: 0.5;
}

#rotate {
    color: var(--link-colour);
    margin-top: 0;
}

#learn-more {
    border: 1px solid var(--link-colour);
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#rotate {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#rotate.active {
    opacity: 1;
}

@media (max-width: 900px) {

    body {
        min-width: 100%;
    }

    .hero-image {
        display: none;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        flex-basis: 100%;
    }

    .logo {
        display: none;
    }
}

/* ---------------------------------------------------------------------- */

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    /*position:absolute; */
    bottom: 0;
    padding-top: 100px;
}

/* ---------------------------------------------------------------------- */

/* About Us CSS*/
.clear {
    clear: both;
}

.aboutus-container {
    width: calc(100% - 160px);
    display: flex;
    padding: 80px;
}

.section-1,
.section-2 {
    flex-basis: 50%;
}

.section-1 {
    flex-grow: 1;
    margin-left: auto;
    align-self: center;
}

.section-2 {
    order: 2;
    /* Change the order of section 2 */
    align-self: center;
}


.section-2 h1 {
    line-height: 1.2;
    /* adjust to your preference */
    font-weight: bolder;
    font-size: 50px;
}

.heading-color {
    color: var(--link-colour);
}

#colour {
    color: #646971;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    .aboutus-container {
        flex-direction: column;
        /* Change the flex-direction */
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .section-1,
    .section-2 {
        flex-basis:calc(100% - 80px);
        margin-left: auto;
    }

    .section-1 {
        order: 2;
    }

    .section-2 {
        order: 1;
    }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    .section-2 {
        margin-top: 120px;
        padding: 80px;
        margin-bottom: 120px;
    }

    .section-1{
        margin-top: 20px;
    }
}

/* About Us CSS*/

.clear {
    clear: both;
}

.content {
    width: calc(100% - 160px);
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 220px;
}

.left {
    flex-basis: 40%;
    align-self: center;
    height: 450px;
}

.title {
    color: #646966;
}

.left h1 {
    line-height: 1.2;
    /* adjust to your preference */
    font-weight: bolder;
    font-size: 50px;
}

.right {
    flex-basis: 40%;
    margin-left: auto;
}

.right button {
    background: none;
    border: 1px var(--link-colour) solid;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.right .box {
    width: 450px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CED7F3;
}

/*leadership*/

.leader h6 {
    color: var(--link-colour);
    background: none;
    font-size: 14px;
    font-weight: normal;
    margin: auto;
    padding: 0px;
    color: #CED7F3;
    font-weight: bold
}

.leader h7 {
    color: #CED7F3;
    background: none;
    font-weight: normal;
    margin: auto;
    padding: 0px;
}

.top {
    width: 550px;
    height: 450px;
    font-size: 80px;
    position: static;
    top: 10px;
    left: 5px;
}

.leadership-container h1 {
    text-align: right;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}



@media only screen and (max-width: 768px) {
    .leadership-container h1 {
        text-align: center;
        white-space: nowrap;
    }

    #text-important {
        display: block;
        margin-top: 20px;
    }
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.leader {
    flex-basis: 27%;
    padding-left: 50px;
}

.leader p {
    padding-right: 30px;
    font-size: 14px;
    color: #CED7F3;
}

.bold h1 {
    font-weight: 500;
}

/*Adapt the Service section to the small screen */
@media (max-width:923px) {
    .content .right {
        flex-basis: 50%;
        width: 50%;
    }

    .content .box {
        width: 100%;
    }
}

@media (max-width:768px) {
    .content .left {
        flex-basis: 100%;
        width: 100%;
        height: auto;
    }

    .content .right {
        flex-basis: 100%;
        width: 100%;
    }
}


/* ---------------------------------------------------------------------- */
/* Our team Page  */


.page-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#team-container {
    flex-basis: calc(100% / 3);
    /* set the width of each team-container to 1/3 of the screen */
    box-sizing: border-box;
    /* include padding and border in the width calculation */
    padding: 20px;
    margin-bottom: 200px;
}

#small-title,
#large-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

#small-title {
    margin-bottom: 15px;
}

#small-title {
    font-size: 18px;
    color: var(--link-colour);
}

#large-title {
    font-size: 30px;
}

#team-container img {
    width: 100%;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

#text-important {
    color: var(--link-colour);
}

#team-container #text-important {
    color: var(--link-colour);
    font-weight: 800;
    font-size: 15px;
    margin-top: 30px;
}

#team-container p {
    font-size: 14px;
    margin-bottom: 20px;
}

.page-break {
    width: 80%;
}

.main-page-break {
    width: 90%;
}

.left-culture {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    justify-content: center;
}

.right-culture {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.right-culture img {
    width: 300px;
    height: 300px;
    background-color: #646971;
    border-radius: 50%;
}

.left-culture p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.general-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    margin-bottom: 150px;
}

#quotation {
    height: 20%;
    width: 20%;
}

.general-container h3 {
    /* i want this on the same line as img */
    display: inline;
    font-size: 30px;
    margin-top: 122px;
}

#client-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

#left-client {
    flex-basis: 50%;
    float: left;
}

#right-client {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    float: right;
}

#right-client img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #646966;
}

.contact-container {
    width: calc(100%-26%);
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #142544;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--link-colour);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: var(--link-colour);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media (max-width:900px) {
    #team-container {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }

    #team-container img {
        border: 1px solid var(--link-colour);

    }

    .general-container {
        flex-direction: column;
    }

    .left-culture {
        flex-basis: 100%;
        margin-bottom: 20px;

    }

    .right-culture {
        justify-content: center;
    }

    .right-culture img {
        width: 250px;
        height: 250px;
    }

}


/* Styles for the news section */
.news {
    background-color: #f0f0f0;
    padding: 20px;
}

.news h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.article-list {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}



.article img {
    width: 100%;
}

.article-list h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.article-list p {
    margin-bottom: 10px;
}

.article-list a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.article-list a:hover {
    background-color: #666;
}

section {
    margin-bottom: 20px;
}




/* Styles for the featured article section */
.featured img {
    width: 100%;
}

.featured h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.featured p {
    margin-bottom: 10px;
}

.featured a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.featured a:hover {
    background-color: #666;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/*Adapt the Service section to the small screen */
@media (max-width:768px) {
    .article-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .article-list .article {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .article-list .article a {
        text-align: center;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:923px) and (min-width:768px) {
    .article-list {
        display: flex;
        flex-wrap: wrap;
    }

    .article-list .article {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .article-list .article a {
        text-align: center;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}

@media (min-width:923px) {

    .article-list .article {
        max-width: 300px;
    }
}


/*------------------Portfolio Styles------------------------*/

.left-image-section {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-content-section {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 20px;
}

.right-content-section h3 {
    font-size: 30px;
    margin-top: 0;
}

.right-content-section p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.position-relative{
    position: relative;
}
.new-container .left-image-section{
    flex-basis: 60% !important;
}
.box-content {
    margin: 0;
    background: var(--main-color);
    width: 500px;
    position: absolute;
    right: 0;
    top: 50%;
    color: var(--main-bg-color);
    padding: 40px;
}

.box-content h2, .box-content h1, .box-content p{
    background-color: transparent !important;
    color: var(--main-bg-color) !important;
}
.box-content h2{
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.box-content h1{
    font-size: 30px;
    padding: 0;
    margin: 10px 0 0 0;
}
.portfolio-grid {
    margin: 20px 0 0 0;
    width: 100%;
}

.portfolio-box {
    width: 30%;
    /* border:3px solid var(--link-colour); */
    display: inline-block;
    margin: 0 15px;
    overflow: hidden;
}

.portfolio-box h2 {
    font-size: 1.2rem;
    color: --link-colour;
}

.portfolio-img {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.portfolio-img img {
    width: 100%;
}

/* =============== PORTFOLIO RESPONSIVE ================ */
@media (max-width:390px) {
    .new-container .left-image-section{
        flex-basis:auto;
    }
    .box-content {
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        display: block;
    }
    .box-content h2{
        padding: 0 0 0 10px;
    }
    .box-content h1{
        padding: 0 0 0 10px;
        line-height: 30px;
    }
    .box-content p{
        padding: 0 10px 0 10px;
    }
    .portfolio-box {
        width: 41%;
        display: inline-block;
        margin: 0 10px;
        overflow: hidden;
    }

    .portfolio-img {
        height: 80px;
    }

    .portfolio-box h2 {
        font-size: 0.9rem;
    }

    #large-title {
        line-height: 32px;
    }

    .left-image-section {
        margin: 0 0 20px 0;
    }

    .left-image-section img {
        width: 100%;
    }
}
